{% extends 'bases/es-education-base.html' %}

{% set title = lang_data.page.page_title %}
{% set meta_description = lang_data.page.page_metadescription %}
{% set meta_keywords = lang_data.page.page_keywords %}

{% block content %}
<main class="page-wrapper">
  <section class="mt-2 pt-5 mb-0 pb-0 ">    
    <div class="bg-primary py-3" style="border: none; border-radius: 0; min-width: 100%;">
      <div class="container">
        <span class='fw-bold text-light'>{{lang_data.page.message.text}} <a href='{{url_for("public_{}.education_partnership_request_prices".format(session["lang"].replace("-","_")))}}' class="text-light" data-bs-toggle="tooltip" data-bs-title="{{lang_data.page.message.link.tooltip}}">{{lang_data.page.message.link.text}}</a></span> 
      </div>
    </div>
  </section>

  <section id="breadcrumb" class="my-2">
      {% block breadcrumb %}
      <nav class="container" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          
          {%- for breadcrumb in breadcrumbs -%}
              {% if breadcrumb.text != "Globodain" %}

                {% if loop.last %}
                <li class="breadcrumb-item">
                  <a href="{{ breadcrumb.url }}" class="text-primary">{{ breadcrumb.text }}</a>
                </li>              
                {% else %}  
                <li class="breadcrumb-item">
                  <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
                </li>
                {% endif %}
              {% endif %}
          {%- endfor -%}
        </ol>
      </nav>
      {% endblock %}
  </section>
  
  <style>
  #hero::after {
      content: "";
      background-repeat: no-repeat;
      opacity: 1;
      background-color: rgba(1, 20, 56, 0.5); /* Oscurece la imagen */
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
  }
  </style>

  <section id="hero" class="jarallax dark-mode position-relative d-flex align-items-center pt-5" style="background-image: url(https://cdn-static.globodain.com/education/union-europe);" data-jarallax data-img-position="0% 100%" data-speed="0.5">
    <div class="container position-relative zindex-5 py-5">
      <div class="row justify-content-md-start">
        <div class="col-md-8 col-12 order-md-1 order-2 d-flex flex-column justify-content-between text-md-start text-center">
          <h1 class="display-5">{{lang_data.page.hero.title|safe}}</h1>
          <p class="text-white mb-0 mb-md-5 mb-3 pb-3 py-2 lead">{{lang_data.page.hero.subtitle}}</p>
        </div>
      </div>
    </div>
  </section>

  <section id="benefits" class="container pt-2 pt-lg-3 mb-md-3 mb-lg-5 pb-5">
    <div class="row pt-3">
      {% for item in lang_data.page.benefits %}
        <div class="col-lg-4 border-end-lg px-2">
          <div class="text-center">
            <h2 class="mb-2 pb-1 fs-4">{{item.title}}</h2>
            <p class="mx-auto fs-6" style="max-width: 336px;">{{item.text}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section id="mobility" class="container pb-5 mb-md-2 mb-lg-4 mb-xl-5 bg-primary">
    <div class="row p-5">
      <div class="col-lg-6">
        <h2 class="display-2 mb-0 text-light">{{lang_data.page.mobility.title}}</h2>
      </div>
      <div class="col-lg-6 col-xl-5 offset-xl-1 pt-3 pt-sm-4 pt-lg-3">
        <p class="fs-xl pb-4 mb-1 mb-md-2 mb-xl-3 text-light">{{lang_data.page.mobility.text|safe}}</p>
        <a href='{{url_for("public_{}.education_programs_mobility".format(session["lang"].replace("-","_")))}}' class="btn btn-lg btn-light shadow-primary">{{lang_data.page.mobility.button}}</a>
      </div>
    </div>
  </section>

  <section id="why-us" class="overflow-hidden pt-md-2 pt-lg-3 pb-3 pb-md-4 pb-xl-5">
    <div class="container">
      <div class="d-flex flex-column flex-md-row flex-md-nowrap align-items-start">
        <div class="col-md-7 ps-0 pe-lg-4 mb-5 mb-md-0">
          <div style="max-width: 660px;">
            <h2 class="h1 pb-3 mb-2 mb-md-3">{{lang_data.page.why.title}}</h2>
            <div class="row row-cols-1 row-cols-sm-2 gx-lg-5 g-4">
              {% for item in lang_data.page.why.list %}
              <div class="col pt-1 pt-sm-2 pt-lg-3">
                <h3 class="h5 pb-sm-1 mb-2 fs-5">{{item.title}}</h3>
                <p class="mb-0 fs-6">{{item.text}}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="advantages" class="container pt-md-2 pt-lg-3 pb-5 mb-md-2 mb-lg-4 mb-xl-5 mb-5">
    <!-- Row 1 -->
    <div class="row align-items-lg-center pb-5 mb-2 mb-lg-4 mb-xl-5">
      <div class="col-md-6 mb-4 mb-md-0">
        <!--<img src="" class="rounded-3" alt="Image">-->
      </div>
      <div class="col-md-6">
        <div class="ps-xl-5 ms-md-2 ms-lg-4">
          <h2 class="h1 mb-3 mb-sm-4">{{lang_data.page.advantages.0.title}}</h2>
          <p class="mb-3 mb-sm-4 fs-6">{{lang_data.page.advantages.0.text|safe}} <a href="" data-bs-toggle="tooltip" data-bs-title="Ver más información sobre Host Organization">Host Organization</a>.</p>
        </div>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="row align-items-lg-center pt-md-3 mb-2">
      <div class="col-md-6 order-md-2 mb-4 mb-md-0">
        <!--<img src="" class="rounded-3" alt="Image">-->
      </div>
      <div class="col-md-6 order-md-1">
        <div class="pe-xl-5 me-md-2 me-lg-4">
          <h2 class="h1 mb-3 mb-sm-4">{{lang_data.page.advantages.1.title}}</h2>
          <p class="mb-3 mb-sm-4 fs-6">{{lang_data.page.advantages.1.text|safe}}</p>
          <ul class="list-unstyled mb-0">
            {% for item in lang_data.page.advantages.1.ul %}
            <li class="d-flex mb-2 fs-6">
              <i class="bx bx-check text-primary lead me-2"></i>
              <p>{{item|safe}}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="rate" class="container pb-5 mb-md-2 mb-lg-4 mb-xl-5 bg-secondary">
    <div class="row align-items-lg-center p-5">
      <div class="col-md-6 order-md-2 mb-4 mb-md-0 row">
        <!--<img src="" class="rounded-3" alt="Image">-->
        {% for item in lang_data.page.rate.points %}
        <div class="col py-2">
          <h3 class="h1 mb-2 text-primary">{{item.title}}</h3>
          <p class="mb-0 fs-6">{{item.text|safe}}</p>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-6 order-md-1">
        <div class="pe-xl-5 me-md-2 me-lg-4">
          <h2 class="h1 mb-3 mb-sm-4 text-primary">{{lang_data.page.rate.title}}</h2>
          <p class="mb-3 mb-sm-4 fs-6">{{lang_data.page.rate.text|safe}}</p>
          <a href='{{url_for("public_{}.request_services".format(session["lang"].replace("-","_")))}}' class="btn btn-primary mx-4">{{lang_data.page.rate.button}}</a>
        </div>
      </div>
    </div>
  </section>

  <section id="how-works" class="container pt-md-2 pb-5 mb-md-2 mb-lg-4 mb-xl-5">
    <h2 class="h1 pb-2 pb-md-0 mb-4 mb-md-5">{{lang_data.page.how_works.title}}</h2>
    <div class="steps steps-sm steps-horizontal-md pb-2 pb-sm-3">
      <div class="step">
        <div class="step-number">
          <div class="step-number-inner">1</div>
        </div>
        <div class="step-body">
          <h3 class="h4 mb-3">{{lang_data.page.how_works.line.0.title}}</h3>
          <p class="mb-0 fs-6">{{lang_data.page.how_works.line.0.text|safe}}</p>
        </div>
      </div>
      <div class="step">
        <div class="step-number">
          <div class="step-number-inner">2</div>
        </div>
        <div class="step-body">
          <h3 class="h4 mb-3">{{lang_data.page.how_works.line.1.title}}</h3>
          <p class="mb-0 fs-6">{{lang_data.page.how_works.line.1.text|safe}}</p>
        </div>
      </div>
      <div class="step">
        <div class="step-number">
          <div class="step-number-inner">3</div>
        </div>
        <div class="step-body">
          <h3 class="h4 mb-3">{{lang_data.page.how_works.line.2.title}}</h3>
          <p class="mb-0 fs-6">{{lang_data.page.how_works.line.2.text|safe}}</p>
        </div>
      </div>
      <div class="step">
        <div class="step-number">
          <div class="step-number-inner">4</div>
        </div>
        <div class="step-body">
          <h3 class="h4 mb-3">{{lang_data.page.how_works.line.3.title}}</h3>
          <p class="mb-0 fs-6">{{lang_data.page.how_works.line.3.text|safe}}</p>
        </div>
      </div>
    </div>
  </section>

  <section id="call-action" class="position-relative bg-dark py-5">
    <span class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255, 255, 255, .05)"></span>
    <div class="container position-relative zindex-5 text-center my-xl-3 py-1 py-md-4 py-lg-5 col-md-7">
      <h2 class="h1 text-light mb-3">{{lang_data.page.call_action.title}}</h2>
      <p class="lead text-light opacity-70 mb-lg-5 pb-3 pb-lg-0">{{lang_data.page.call_action.text}}</p>
      <a href='{{url_for("public_{}.request_services".format(session["lang"].replace("-","_")))}}' class="btn btn-primary shadow-primary btn-lg">{{lang_data.page.call_action.button}}</a>
    </div>
  </section>
</main>
{% endblock %}