{% extends 'bases/es-skynova-base.html' %}

{% block content %}
<head>
	{# idk why did you put the styles here :DDD #}
	<link rel='stylesheet' href="{{url_for('static',filename='css/solution.css')}}" type='text/css' />
</head>
<main class="page-wrapper">
	<section class="d-flex justify-content-center align-items-center text-center" style="background: url('{{url_for('static',filename='img/solutions/drone-solution.jpg')}}') no-repeat center center; background-size: cover; height: 23%; position: relative;">
        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3);"></div>
        <div style="position: relative; z-index: 2;">
            <h1 class="font-weight-bold text-uppercase mb-3 display-4 text-white">
                The solution for your needs
            </h1>
            <p class="lead text-white">
                Discover innovative solutions that meet your specific needs.
            </p>
		</br>
			<div class="d-flex justify-content-center">
				<a href='{{url_for("public_{}.skynova_product".format(session["lang"].replace("-","_")))}}' class="btn btn-primary btn-lg px-5 me-4">
					Go to product
				</a>
				<a href="#about" class="btn btn-light btn-lg px-5">
					Learn More
				</a>
			</div>

        </div>
    </section>

	<section id="about" class="about">
		<div class="container">
			<div class="section-title">
				<h2>Why Skynova</h2>
			</div>
			<div class="row content">
				<div class="col-lg-6 text-md">
					<p>
						Welcome to Skynova, where drones find their home. Our mission is to enhance public services with cutting-edge drone technology. By partnering with Flytbase, we provide a seamless and effective solution for deploying drones in police, fire, and other state agencies. Join us in revolutionizing public service and improving the efficiency of first responders to save lives and resources.
					</p>
				</div>
				<div class="col-lg-6 pt-4 pt-lg-0" style="border-left:2px solid #004AAD">
					<ul class="text-md">
						<li class="list-group-item larger-text"><i class='bx bx-check-double'></i> Our company is pioneering in drone charging station technology</li><br>
						<li class="list-group-item larger-text"><i class='bx bx-check-double'></i> We guarantee effectiveness in our power supply solution</li><br>
						<li class="list-group-item larger-text"><i class='bx bx-check-double'></i> Materials used for the station are of the highest quality</li><br>
						<li class="list-group-item larger-text"><i class='bx bx-check-double'></i> We guarantee effectiveness in our charging solution</li><br>
						<li class="list-group-item larger-text"><i class='bx bx-check-double'></i> Our experts will take care of the drone station installation</li><br>
					</ul>
				</div>
			</div>
		</div>
	</section>

    <section id="benefits" class="benefits bg-secondary">
        <div class="container">
            <div class="section-title" >
              	<h2>Benefits</h2>
            </div>
            <div class="row">
              	<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                	<div class="icon-box">
                  		<div class="icon"><i class='bx bxs-ambulance'></i></div>
                  			<h4 class="title"><a>Efficiency</a></h4>
                  			<p class="description">Optimize the use of public company resources</p>
                		</div>
              		</div>
              		<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                		<div class="icon-box">
                  			<div class="icon"><i class='bx bxs-timer'></i></div>
                  				<h4 class="title"><a>Accelerate</a></h4>
                  				<p class="description"><b>Reduce response time</b> from notification to arrival of first responders</p>
                			</div>
              			</div>
              		<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                		<div class="icon-box" >
                  			<div class="icon"><i class="bx bxs-binoculars"></i></div>
                  				<h4 class="title"><a>Evaluate</a></h4>
                  				<p class="description">Obtain a close-up to <b>know the urgency of the action</b></p>
                		</div>
					</div>
				    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                		<div class="icon-box" >
                  			<div class="icon"><i class='bx bx-time-five'></i></div>
                  				<h4 class="title"><a>24/7 Availability</a></h4>
                 				<p class="description">Use of the <b>service 24/7 hours, without the need for a pilot</b></p>
                		</div>
             		</div>
            	</div>
          	</div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="section-title" >
            	<h2>Features</h2>
            </div>
            <div class="row">
              	<div class="col-lg-3 col-md-4">
                	<div class="icon-box">
                  		<i class="bx bx-time" style="color: #ffbb2c;"></i>
                  		<h3>Resource Optimization</h3>
                	</div>
              	</div>
              	<div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                	<div class="icon-box">
                 		<i class="bx bx-down-arrow-alt" style="color: #5578ff;"></i>
                  		<h3>Quick Response Time</h3>
                	</div>
              	</div>
              	<div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                	<div class="icon-box">
                  		<i class="bx bx-time-five" style="color: #e80368;"></i>
                  		<h3>Close-up assessment</h3>
                	</div>
              	</div>
              	<div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                	<div class="icon-box">
                		<i class="bx bx-time" style="color: #e361ff;"></i>
                  		<h3>24/7</h3>
                	</div>
              	</div>
              	<div class="col-lg-3 col-md-4 mt-4">
                	<div class="icon-box">
                  		<i class="bx bx-station" style="color: #47aeff;"></i>
                  		<h3>No Pilot</h3>
                	</div>
              	</div>
              	<div class="col-lg-3 col-md-4 mt-4">
               		<div class="icon-box">
                 		<i class="bx bx-brain" style="color: #ffa76e;"></i>
                  		<h3>Autonomy Development</h3>
                	</div>
              	</div>
              	<div class="col-lg-3 col-md-4 mt-4">
                	<div class="icon-box">
                  		<i class="bx bx-dollar" style="color: #11dbcf;"></i>
                  		<h3>Cost Efficiency</h3>
                	</div>
              	</div>
              	<div class="col-lg-3 col-md-4 mt-4">
                	<div class="icon-box">
                  		<i class="bx bx-up-arrow-alt" style="color: #4233ff;"></i>
                  		<h3>Performance Improvement</h3>
                	</div>
              	</div>
              	<div class="col-lg-3 col-md-4 mt-4">
                	<div class="icon-box">
                  		<i class="bx bx-user" style="color: #b2904f;"></i>
                  		<h3>Early Adopters</h3>
                	</div>
              	</div>
              	<div class="col-lg-3 col-md-4 mt-4">
                	<div class="icon-box">
                  		<i class="bx bx-up-arrow-alt" style="color: #b20969;"></i>
                  		<h3>Scalability</h3>
                	</div>
              	</div>
              	<div class="col-lg-3 col-md-4 mt-4">
                	<div class="icon-box">
                 		<i class="bx bx-group" style="color: #ff5828;"></i>
                  		<h3>Collaboration Potential</h3>
                	</div>
              	</div>
              	<div class="col-lg-3 col-md-4 mt-4">
                	<div class="icon-box">
                  		<i class="bx bx-line-chart" style="color: #29cc61;"></i>
                  		<h3>Market Research</h3>
                	</div>
              	</div>
            </div>
        </div>
    </section>

    <section id="connectivity" class="bg-secondary">
		<div class="container">
			<div class="section-title">
				<h2>Connectivity</h2>
			</div>
			<div class="row mb-5 align-items-center" style="background-color: #f9f9f9; padding: 20px; border-radius: 10px;">
				<div class="col-md-8 text-base">
					<h6>Connectivity</h6>
					<p>
						Our drone station employs advanced connectivity technologies to ensure uninterrupted and reliable communication between the drones and the operations center, where operators monitor and manage missions. A key component of this system is the integration with the <strong>StarLink satellite network.</strong>
					</p>
				</div>
				<div class="col-md-4">
					<img src="{{url_for('static', filename='img/solutions/connectivity.jpeg')}}" alt="Drone Image" class="img-fluid rounded" style="max-width: 100%; height: 100%;">
				</div>
			</div>
			<div class="row mb-5 align-items-center" style="background-color: #f9f9f9; padding: 20px; border-radius: 10px;">
				<div class="col-md-8 text-base">
					<h6>Connectivity with StarLink</h6>
					<p>
						Thanks to the <strong>Starling satellite network</strong>, our drones have access to high-speed broadband connectivity even in the most remote and hard-to-reach areas. StarLink offers global coverage and low latency, which is crucial for the rapid transmission of data and real-time monitoring.
					</p>
				</div>
				<div class="col-md-4">
					<img src="{{url_for('static', filename='img/solutions/starlink.jpg')}}" alt="Drone Image" class="img-fluid rounded" style="max-width: 100%; height: 100%;">
				</div>
			</div>
			<div class="row mb-5 align-items-center" style="background-color: #f9f9f9; padding: 20px; border-radius: 10px;">
				<div class="col-md-8 text-base">
					<h6>Connectivity with the Operations Center</h6>
					<p>
						At the operations center, our operators use <strong>advanced software</strong> to monitor and manage the drone fleet in real-time. Operators have access to live video feeds, telemetry data, and diagnostic reports, allowing for quick responses to changing conditions and threats.
					</p>
				</div>
				<div class="col-md-4">
					<img src="{{url_for('static', filename='img/solutions/operation center.jpg')}}" alt="Drone Image" class="img-fluid rounded" style="max-width: 100%; height: 100%;">
				</div>
			</div>
			<div class="row mb-5 align-items-center" style="background-color: #f9f9f9; padding: 20px; border-radius: 10px;">
				<div class="col-md-8 text-base">
					<h6>Security and Reliability</h6>
					<p>
						The connectivity system is designed with security and reliability in mind. Data transmissions are encrypted to protect against unauthorized access. Additionally, connection redundancy and automatic switching to alternative <strong>StarLink satellites</strong> ensure operational continuity even if a single satellite fails.
					</p>
				</div>
				<div class="col-md-4">
					<img src="{{url_for('static', filename='img/solutions/Security and Reliability.jpeg')}}" alt="Drone Image" class="img-fluid rounded" style="max-width: 100%; height: 100%;">
				</div>
			</div>
		</div>
		
	</section>

	<section id="requirements">
		<div class="container">
		  <div class="section-title">
			<h2>Requirements</h2>
		  </div>
		  
		  <div class="container">
			<!-- Basic Requirements -->
			<div class="row mb-5 align-items-center" style="background-color: #f9f9f9; padding: 20px; border-radius: 10px;">
			  <div class="col-md-4">
				<img src="{{url_for('static', filename='img/solutions/drone.png')}}" alt="Drone Image" class="img-fluid rounded" style="max-width: 100%; height: auto;">
			  </div>
			  <div class="col-md-8 text-base">
				<h6>Basic Requirements</h6>
				<p>
				  Our drone station requires specific hardware and software for optimal performance. Each drone must have a compact 
				  StarLink-compatible satellite terminal for reliable high-speed connectivity. Additionally, drones should be equipped 
				  with high-definition cameras, thermal imaging sensors, and advanced GPS modules for comprehensive monitoring and 
				  emergency response data.
				</p>
			  </div>
			</div>
			
			<!-- Software Requirements -->
			<div class="row mb-5 align-items-center" style="background-color: #e9ecef; padding: 20px; border-radius: 10px;">
			  <div class="col-md-4">
				<img src="{{url_for('static', filename='img/solutions/videoanalyze.png')}}" alt="Video Analysis" class="img-fluid rounded" style="width: 100%; height: auto;">
			  </div>
			  <div class="col-md-8 text-base">
				<h6>Software Requirements</h6>
				<p>
				  The operations center needs advanced software for real-time data processing and display. This includes live video feed 
				  analysis, telemetry data integration, and diagnostic reporting. The software should feature interactive control panels 
				  for efficient fleet management, enabling quick responses to changing conditions and threats.
				</p>
			  </div>
			</div>
			
			<!-- Network and Security Requirements -->
			<div class="row mb-5 align-items-center" style="background-color: #f9f9f9; padding: 20px; border-radius: 10px;">
			  <div class="col-md-4">
				<img src="{{url_for('static', filename='img/solutions/enc.png')}}" alt="Network Security" class="img-fluid rounded" style="width: 100%; height: auto;">
			  </div>
			  <div class="col-md-8 text-base">
				<h6>Network and Security Requirements</h6>
				<p>
				  The connectivity system must include robust network infrastructure to handle high data volumes and ensure low latency. 
				  Data transmissions need to be encrypted to prevent unauthorized access. The system should also have redundancy measures, 
				  such as automatic switching to alternative satellites, to maintain operational continuity in case of a satellite failure.
				</p>
			  </div>
			</div>
			
			<!-- Operational Requirements -->
			<div class="row mb-5 align-items-center" style="background-color: #e9ecef; padding: 20px; border-radius: 10px;">
			  <div class="col-md-4">
				<img src="{{url_for('static', filename='img/solutions/operator.png')}}" alt="Operator Training" class="img-fluid rounded" style="width: 100%; height: auto;">
			  </div>
			  <div class="col-md-8 text-base">
				<h6>Operational Requirements</h6>
				<p>
				  Operators must be trained to effectively use the advanced software and hardware. This includes interpreting data from 
				  sensors and cameras, managing the drone fleet, and responding to alerts promptly. Continuous training and updates are 
				  vital to ensure operators remain proficient with the latest technologies and procedures, ensuring operational efficiency 
				  and safety.
				</p>
			  </div>
			</div>
		  </div>			  
		</div>
	  </section>
		<section class="bg-secondary">
			<div class="container mt-20" id="contact">
				<div class="w-full mt-4 flex flex-col gap-1 items-center relative md:items-start justify-center">
					<div class="flex md:w-1/2 md:absolute w-full flex-col gap-8 card md:right-16 border-light shadow-lg py-3 p-sm-4 p-md-5" style="text-align: center;">
						<span class="text-2xl">Interested in our products?</span>
						<span>Feel free to let us know! We are looking forward to cooperate with you.</span>
						{# TODO: Change contact href #}
						<div class="flex justify-center">
							<a href="/en/request" target="_blank" class="btn btn-lg btn-primary w-full md:w-1/2 border" style="border-radius: 10px">Contact</a>
						</div>
					</div>
					<img class="hidden md:block w-1/2 ml-16" src="{{url_for('static',filename='img/backgrounds/drones-ilustration.jpg')}}" alt="Ilustration image">
				</div>
			</div>
		</section>
{% endblock %}
