{% extends 'bases/en-us-base.html' %}

{% block content %}
    <section role="main" >
        <div id="hero">
            <div class="m-hero">
                <section class="f-precise-click large-font m-hero-item f-large f-x-left f-y-center context-game theme-dark f-mask-100">
                    <picture>
                        <source
                            srcset="{{url_for('static',filename='img/applications/metallurgy-applications-image.jpg')}}"
                            media="(max-width:539px)" />
                        <source
                            srcset="{{url_for('static',filename='img/applications/metallurgy-applications-image.jpg')}}"
                            media="(min-width:540px) and (max-width:767px)" />
                        <source
                            srcset="{{url_for('static',filename='img/applications/metallurgy-applications-image.jpg')}}"
                            media="(min-width:768px) and (max-width:1083px)" />
                        <source
                            srcset="{{url_for('static',filename='img/applications/metallurgy-applications-image.jpg')}}"
                            media="(min-width:1084px) and (max-width:1399px)" />
                        <source
                            srcset="{{url_for('static',filename='img/applications/metallurgy-applications-image.jpg')}}"
                            media="(min-width:1400px) and (max-width:1778px)" />
                        <source
                            srcset="{{url_for('static',filename='img/applications/metallurgy-applications-image.jpg')}}" />
                        <img class="slider lazypreload" alt="" title="Globodain finances applications image from hero section"
                            src="{{url_for('static',filename='img/applications/metallurgy-applications-image.jpg')}}" />
                    </picture>

                    <div class="hero-content-p">
                        <div class="hero-content-c" data-grid="col-12">
                            <div class="hero-content" data-grid="col-12">
                                <h1 class="c-heading-3">Millimeter accuracy</h1>
                                <div class="c-paragraph-3">
                                    <p>It is required to obtain the highest possible accuracy in the calculation of inputs, minimization of errors, or maximization of raw material.
                                         We create algorithms that maximize production efficiency.</p>
                                </div>

                                <div class="hq-links hq-s-link">
                                    <a class="c-call-to-action c-glyph"
                                        aria-label="Read the guide titled What Now? A Guide for Financial Services Leaders in a Disruptive Time."
                                        href="{{url_for('public_{}.contact'.format(wUser['lang'].replace('-','_'))) }}"
                                        target="_blank">
                                        <span>Contact with an expert</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <div id="section1" data-grid="container" class="pt-4 pb-4">
            <div id="title" data-grid="col-12" class="m-banner">
                <h2 class="c-heading-3">Modernize core banking systems and monetize new opportunities</h2>
            </div>
            <div id="text">
                <div class="m-content-placement x-clearfix">
                    <div class="content-tile" data-grid="col-12 stack-3">
                        <div class="content-ctile" data-grid="col-6 pad-6x">
                            <div data-grid="col-6">
                                <div role="presentation"
                                    class="f-precise-click m-content-placement-item f-size-medium"
                                    data-m='{"cN":"PromotionalItem","cT":"Container","id":"c1m2r2a2","sN":1,"aN":"m2r2a2"}'>
                                    <h3 class="c-heading-4">Modernize core systems</h3>
                                    <div class="c-paragraph">
                                        <p>Enable banks to compete against new born-in-the-cloud non-bank
                                            competitors by modernizing older batch-based core systems to operate
                                            in an agile, data-driven, real-time way.</p>
                                    </div>

                                </div>
                            </div>
                            <div data-grid="col-6">
                                <div role="presentation"
                                    class="f-precise-click m-content-placement-item f-size-medium"
                                    data-m='{"cN":"PromotionalItem","cT":"Container","id":"c2m2r2a2","sN":2,"aN":"m2r2a2"}'>
                                    <h3 class="c-heading-4">Compete in a data driven economy</h3>
                                    <div class="c-paragraph">
                                        <p>Develop core systems that can support the needs of modern data
                                            science, enhancing the ability to prepare data for advanced
                                            analytics and machine learning processes.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="content-ctile" data-grid="col-6 pad-6x">
                            <div data-grid="col-6">
                                <div role="presentation"
                                    class="f-precise-click m-content-placement-item f-size-medium"
                                    data-m='{"cN":"PromotionalItem","cT":"Container","id":"c3m2r2a2","sN":3,"aN":"m2r2a2"}'>
                                    <h3 class="c-heading-4">Turn payments data into new offers</h3>
                                    <div class="c-paragraph">
                                        <p>Discover new revenue streams from real-time payments data. Be more
                                            agile in rolling out new banking products and services to meet
                                            customer demand.</p>
                                    </div>

                                </div>
                            </div>
                            <div data-grid="col-6">
                                <div role="presentation"
                                    class="f-precise-click m-content-placement-item f-size-medium"
                                    data-m='{"cN":"PromotionalItem","cT":"Container","id":"c4m2r2a2","sN":4,"aN":"m2r2a2"}'>
                                    <h3 class="c-heading-4">Move to real-time payments systems</h3>
                                    <div class="c-paragraph">
                                        <p>Build the infrastructure to enable real-time payments to address
                                            needs in today’s client-centric economy and to build new and
                                            relevant business models.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}