{% extends "bases/es-base.html" %}

{% set title = lang_data.page.page_title %}
{% set meta_description = lang_data.page.page_metadescription %}
{% set meta_keywords = lang_data.page.page_keywords %}

{% block content %}
<main class="page-wrapper">
  <section id="message" class="mt-2 pt-5 mb-0 pb-0 ">    
      <div class="bg-primary py-3" style="border: none; border-radius: 0; min-width: 100%;">
        <div class="container">
          <span class='fw-bold text-light'>{{lang_data.page.message.text}} <a href='{{url_for("public_{}.education".format(session["lang"].replace("-","_")))}}' class="text-light" data-bs-toggle="tooltip" data-bs-title="{{lang_data.page.message.link.tooltip}}">{{lang_data.page.message.link.text}}</a></span> 
        </div>
      </div>
  </section>

  <section id="content" class="position-relative bg-secondary pt-5">
    <div class="container position-relative zindex-2">
      <div class="row">

        <div class="col-xl-4 col-lg-5 pb-4 pb-sm-5 mb-2 mb-sm-0">
          <div class="pe-lg-4 pe-xl-0">
            <h1 class="h3 pb-3 pb-md-4 mb-lg-5">{{lang_data.page.content.title}}</h1>

            <div id="link-1" class="d-flex align-items-start pb-3 mb-sm-1 mb-md-3">
              <div class="ps-3 ps-sm-4">
                <h2 class="h4 pb-1 mb-2">{{lang_data.page.content.links.0.title}}</h2>
                {{lang_data.page.content.links.0.text|safe}}
                <a class="btn btn-link btn-lg px-0" href="{{url_for('public_{}.applications'.format(session['lang'].replace('-','_'))) }}">
                  {{lang_data.page.content.links.0.button}}
                  <i class="bx bx-right-arrow-alt lead ms-2"></i>
                </a>
              </div>
            </div>

            <div id="link-2" class="d-flex align-items-start pb-3 mb-sm-1 mb-md-3">
              <div class="ps-3 ps-sm-4">
                <h2 class="h4 pb-1 mb-2">{{lang_data.page.content.links.1.title}}</h2>
                {{lang_data.page.content.links.1.text|safe}}
                <a class="btn btn-link btn-lg px-0" href="{{url_for('public_{}.education_partnership'.format(session['lang'].replace('-','_'))) }}">
                  {{lang_data.page.content.links.1.button}}
                  <i class="bx bx-right-arrow-alt lead ms-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-7 offset-xl-2">
          <div class="card border-light shadow-lg py-3 p-sm-4 p-md-5">
            <div class="bg-dark position-absolute top-0 start-0 w-100 h-100 rounded-3 d-none d-dark-mode-block"></div>
            <div class="card-body position-relative zindex-2">
              <h2 class="card-title pb-3 mb-4">{{lang_data.page.content.form.title}}</h2>
              
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                    </div>
                  {% endfor %}
              {% endif %}
              {% endwith %}        

              {% if message_was_send_successfull == true %}
              <div class="alert alert-success" role="alert">{{lang_data.page.content.form.message|safe}}</div>
              <script>    
              window.setTimeout(function(){
                  // Move to a new location or you can do something else
                  window.location.href = "{{url_for('public_{}.contact'.format(session['lang'].replace('-','_'))) }}";
                  }, 1000);
              </script>                              
              {% else %}
              <form method="post" class="row g-4 needs-validation" method="POST">
                <div class="col-12">
                  <label for="fullname" class="form-label fs-base">{{lang_data.page.content.form.inputs.0}}</label>
                  <input type="text" class="form-control form-control-lg" id="fullname" name="form_contact_fullname" required>
                </div>
                <div class="col-12">
                  <label for="email" class="form-label fs-base">{{lang_data.page.content.form.inputs.1}}</label>
                  <input type="email" class="form-control form-control-lg" id="email" name="form_contact_email" required>
                </div>
                <div class="col-12">
                  <label for="phone" class="form-label fs-base">{{lang_data.page.content.form.inputs.2|safe}}</label>
                  <input type="phone" class="form-control form-control-lg" id="phone" name="form_contact_phone" required>
                </div>
                <div class="col-12">
                  <label for="company" class="form-label fs-base">{{lang_data.page.content.form.inputs.3|safe}}</label>
                  <input type="text" class="form-control form-control-lg" id="company" name="form_contact_company">
                </div>
                <div class="col-12">
                  <label for="position" class="form-label fs-base">{{lang_data.page.content.form.inputs.4|safe}}</label>
                  <input type="text" class="form-control form-control-lg" id="position" name="form_contact_position">
                </div>
                <div class="col-12">
                  <label for="message" class="form-label fs-base">{{lang_data.page.content.form.inputs.5|safe}}</small></label>
                  <textarea type="text" class="form-control form-control-lg" id="message"  name="form_contact_message" rows="3" required></textarea>
                </div>
                  <div class="form-check c-label margin-right-0 margin-top-0">
                      <input type="checkbox" class="form-check-input" name="form_contact_terms_accept" id="privacy" value="1" required>
                      <label for="privacy" class="form-check-label">                                                   
                        {{lang_data.page.content.form.terms.text}}
                          <a href="{{url_for('public_{}.privacy'.format(session['lang'].replace('-','_'))) }}"
                              target="_blank"
                              class="c-hyperlink margin-right-0" style="display: inline;"
                              data-bi-name="privacy statement." data-bi-id="n1c2m1r3a3">
                              {{lang_data.page.content.form.terms.link}}
                          </a></label>
                  </div>
                  <div class="g-recaptcha" data-sitekey="6LdOb0EpAAAAAC6PN2aj6WUWzi3sZyd6qJEfgrHt"></div>
                <div class="col-12 pt-2 pt-sm-3">
                  <button type="submit" class="btn btn-lg btn-primary w-100 w-sm-auto">{{lang_data.page.content.form.button}}</button>
                </div>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="position-absolute bottom-0 start-0 w-100 bg-light" style="height: 8rem;"></div>
  </section>

  <section id="location" class="container py-2 py-lg-4 py-xl-5 mb-2 mb-md-3">
    <div class="row py-5">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="d-flex flex-column h-100 shadow-sm rounded-3 overflow-hidden">
          <iframe class="d-block h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.2865943160577!2d-5.988771884693589!3d37.38305407983256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126c1f1b2bdf55%3A0x4c5dc3d832d064a2!2sC.%20Bartolom%C3%A9%20de%20Medina%2C%201%2C%2041004%20Sevilla!5e0!3m2!1ses!2ses!4v1667646219467!5m2!1ses!2ses" style="border: 0; min-height: 300px;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <h2 class="h4 mb-4">{{lang_data.page.location.title}}</h2>
        <ul class="list-unstyled pb-2 pb-lg-0 mb-4 mb-lg-5">
          <li class="d-flex pb-1 mb-2">
            <i class="bx bx-map text-primary fs-xl me-2" style="margin-top: .125rem;"></i>
            Calle Bartolomé de Medina 1, Sevilla, ES 41004
          </li>
          <li class="d-flex pb-1 mb-2">
            <i class="bx bx-phone-call text-primary fs-xl me-2" style="margin-top: .125rem;"></i>
            (+34) 611 746 455
          </li>
          <li class="d-flex">
            <i class="bx bx-time-five text-primary fs-xl me-2" style="margin-top: .125rem;"></i>
            <div>
              <strong class="text-nav">{{lang_data.page.location.days.0}}</strong>: 9:00 am - 20:00 pm
              <br>
              <strong class="text-nav">{{lang_data.page.location.days.1}}</strong>: {{lang_data.page.location.days.2}}
            </div>
          </li>
        </ul>
        <div class="d-flex pt-1 pt-md-3 pt-xl-4">
          <a href="https://www.linkedin.com/company/globodain" class="btn btn-icon btn-secondary btn-linkedin me-3" target="_blank">
            <i class="bx bxl-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/globodain/" class="btn btn-icon btn-secondary btn-instagram me-3">
            <i class="bx bxl-instagram"></i>
          </a>
          <a href="https://www.facebook.com/globodain/" class="btn btn-icon btn-secondary btn-facebook">
            <i class="bx bxl-facebook"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

<script type="text/javascript">
  function inIframe() {
      try {
          return window.self !== window.top;
      } catch (e) {
          return true;
      }
  }

  if(inIframe()){
      // Aquí puedes redirigir a los usuarios a una página de error o realizar otra acción.
      window.location.href = "/prevent";
  }
</script>
{% endblock %}