<h2>Beneficios de utilizar Globodain Experiences</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 g-lg-3 g-xl-4 pb-md-3 pb-lg-5">

  <!-- Item -->
  <div class="col">
    <div class="card h-100 bg-transparent border-0">
      <div class="bg-secondary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
        <i class="bx bxl-bootstrap fs-2 text-gradient-primary" style="padding: .375rem;"></i>
      </div>
      <div class="card-body">
        <h3 class="h6">Organización del servicio</h3>
        <p class="fs-sm mb-0">Define la estrategia del servicio fase por fase, teniendo clara la ejecución para cada uno de los servicios según el rol del trabajador.</p>
      </div>
    </div>
  </div>

  <!-- Item -->
  <div class="col">
    <div class="card h-100 bg-transparent border-0">
      <div class="bg-secondary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
        <i class="bx bx-file fs-2 text-gradient-primary" style="padding: .375rem;"></i>
      </div>
      <div class="card-body">
        <h3 class="h6">Propuesta de valor</h3>
        <p class="fs-sm mb-0">Permite enfocarse en la calidad del servicio al cliente, identificando nuevas opciones de valor y ofreciendo comodidad a tu cliente</p>
      </div>
    </div>
  </div>

  <!-- Item -->
  <div class="col">
    <div class="card h-100 bg-transparent border-0">
      <div class="bg-secondary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
        <i class="bx bx-mobile fs-2 text-gradient-primary" style="padding: .375rem;"></i>
      </div>
      <div class="card-body">
        <h3 class="h6">Trabajo colaborativo</h3>
        <p class="fs-sm mb-0">Añade nuevos roles y usuarios a Globodain CX Platform para controlar los flujos de trabajo y asociar nuevas acciones a tu equipo.</p>
      </div>
    </div>
  </div>

  <!-- Item -->
  <div class="col">
    <div class="card h-100 bg-transparent border-0">
      <div class="bg-secondary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
        <i class="bx bxs-meteor text-gradient-primary m-1" style="font-size: 2.25rem;"></i>
      </div>
      <div class="card-body">
        <h3 class="h6">Conectividad con el cliente</h3>
        <p class="fs-sm mb-0">El cliente puede conectar con el equipo a través de los canales soportados en su panel de usuario, o a través de los canales añadidos cómo Whatsapp.</p>
      </div>
    </div>
  </div>

  <!-- Item -->
  <div class="col">
    <div class="card h-100 bg-transparent border-0">
      <div class="bg-secondary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
        <i class="bx bxs-badge-dollar text-gradient-primary m-1" style="font-size: 2.25rem;"></i>
      </div>
      <div class="card-body">
        <h3 class="h6">Optimización de costes</h3>
        <p class="fs-sm mb-0">Controla el stock del hotel al ejecutar procesos bajo demanda. Analiza las necesidades y prevee la demanda futura</p>
      </div>
    </div>
  </div>

  <!-- Item -->
  <div class="col">
    <div class="card h-100 bg-transparent border-0">
      <div class="bg-secondary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
        <i class="bx bx-trip text-gradient-primary m-1" style="font-size: 2.25rem;"></i>
      </div>
      <div class="card-body">
        <h3 class="h6">Orquestación del cliente</h3>
        <p class="fs-sm mb-0">Identifica y clasifica el tipo de cliente según los parámetros indicados para cada servicio o producto</p>
      </div>
    </div>
  </div>

  <!-- Item -->
  <div class="col">
    <div class="card h-100 bg-transparent border-0">
      <div class="bg-secondary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
        <i class="bx bx-slider-alt text-gradient-primary m-1" style="font-size: 2.25rem;"></i>
      </div>
      <div class="card-body">
        <h3 class="h6">Automatización</h3>
        <p class="fs-sm mb-0">Define workflows autoejecutables cuando se identifique una serie de variables previamente definidas</p>
      </div>
    </div>
  </div>

  <!-- Item -->
  <div class="col">
    <div class="card h-100 bg-transparent border-0">
      <div class="bg-secondary rounded-3 w-auto lh-1 p-2 mt-4 ms-4 me-auto">
        <i class="bx bxs-report text-gradient-primary m-1" style="font-size: 2.25rem;"></i>
      </div>
      <div class="card-body">
        <h3 class="h6">Análisis y reportes</h3>
        <p class="fs-sm mb-0">Visualiza la interacción de los datos en gráficos y genera informes avanzados para la toma de decisiones</p>
      </div>
    </div>
  </div>
</div>

<div class="mt-4 pt-4 mt-md-0 pt-md-0 d-md-flex align-items-md-start">
  <a href='https://globodain-my.sharepoint.com/:b:/p/ruben/EVptosidBM1BlePno9E3gkgBofnfMDxfNWzT7twRrj5WeA' class="btn btn-lg btn-secondary flex-shrink-0 me-md-4 mb-md-0 mb-sm-4 mb-3" target="_blank">Descargar dossier <i class="ms-2 bx bx-download"></i></a>
  <a href='{{url_for("public_{}.experiences".format(session["lang"].replace("-","_")))}}' class="btn btn-lg btn-primary flex-shrink-0 me-md-4 mb-md-0 mb-sm-4 mb-3">Conocer más <i class="bx bx-chevron-right"></i></a>
</div>