{% extends 'bases/es-base.html' %}

{% set title = lang_data.page.page_title %}
{% set meta_description = lang_data.page.page_metadescription %}
{% set meta_keywords = lang_data.page.page_keywords %}

{% block content %}
<main class="page-wrapper position-relative pt-lg-5 pb-5">
    <section class="container pt-2 pb-5">
        <div class="card">
            <div class="card-header position-relative d-block space-1 space-md-2 p-4 px-md-7 px-md-9">
                <h1>{{lang_data.page.content.title}}</h1>
                <p class="text-white-70">{{lang_data.page.content.date.title}} {{lang_data.page.content.date.text}}</p>
            </div>
    
            <!-- Content -->
            <div class="card-body p-4 p-md-9">
                <div class="mb-7">{{lang_data.page.content.body|safe}}</div>
            </div>
        </div>
    </section>
</main>
{% endblock %}